<!doctype html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>My semestral project</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
    * {
        font-family: 'MedievalSharp', cursive;
    }
    body, #gameCanvas {
        background-color: #070707;
    }
</style>

<body>
    <canvas id="gameCanvas"></canvas>
    <script src="../src/maze-escape.ts"></script>
</body>

</html>